<clr-datagrid [(clrDgSingleSelected)]="empresaSelecionada" [clDgRowSelection]="true">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-success-outline" (click)="onCreate()">
        <clr-icon shape="plus"></clr-icon> Adicionar</button>
      <button type="button" class="btn btn-sm btn-danger-outline" (click)="onDelete()" [disabled]="!empresaSelecionada">
        <clr-icon shape="close"></clr-icon> Deletar</button>
      <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" [disabled]="!empresaSelecionada">
        <clr-icon shape="pencil"></clr-icon> Editar</button>
    </div>
  </clr-dg-action-bar>
  <clr-dg-placeholder>Sem empresas cadastradas!</clr-dg-placeholder>
  <clr-dg-column>Empresa ID</clr-dg-column>
  <clr-dg-column>Nomenclatura</clr-dg-column>
  <clr-dg-column>CNPJ</clr-dg-column>
  <clr-dg-column>IE</clr-dg-column>
  <clr-dg-row *clrDgItems="let empresa of empresas$ | async" [clrDgItem]="empresa" (dblclick)="onEdit()">
    <clr-dg-cell>{{ empresa.id }}</clr-dg-cell>
    <clr-dg-cell>{{ empresa.name }}</clr-dg-cell>
    <clr-dg-cell>{{ empresa.cnpj }}</clr-dg-cell>
    <clr-dg-cell>{{ empresa.ie }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{pagination.totalItems}} Empresas
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="basic" [clrModalSize]="'lg'">
  <h3 class="modal-title">Adicinar uma empresa</h3>
  <div class="modal-body">
    <form [formGroup]="form">
      <section class="form-block">
        <div class="form-group">
          <label for="name" class="required">Nomenclatura da Empresa</label>
          <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="isValidForm('name')">
            <input type="text" id="name" formControlName="name" placeholder="NDD" size="30" maxlength="18"
              autocomplete="off">
          </label>
        </div>
        <div class="form-group">
          <label for="cnpj" class="required">CNPJ</label>
          <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="isValidForm('cnpj')">
            <input type="text" id="cnpj" formControlName="cnpj" placeholder="00.000.000/000-00" size="30" maxlength="18" autocomplete="off">
          </label>
        </div>
        <div class="form-group">
          <label for="ie" class="required">Inscrição Estadual</label>
          <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="isValidForm('ie')">
            <input type="text" id="ie" formControlName="ie" placeholder="00.000.000/000-00" size="30" maxlength="18" autocomplete="off">
          </label>
        </div>        
      </section>
    </form>
    <div *ngFor="let controlador of controladores">
      <clr-alert [clrAlertClosable]="false" [clrAlertType]="'alert-danger'" *ngIf="isValidForm(controlador)">
        <div class="alert-item">
          <span class="alert-text">
            {{ erro[controlador] }}
          </span>
        </div>
      </clr-alert>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger-outline" (click)="basic = false">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="onSave()" [disabled]="!form.valid">Salvar</button>
  </div>
</clr-modal>